<div class="dash-sidebar">
    {% if user is defined %}
        <div class="dash-user selected{% if page == 'dashboard' or page == 'profil' %} active{% endif %}">
            <a class="dash-link" href="/dashboard">
                <div style="background-image: url(https://cdn.discordapp.com/avatars/{{ user._id }}/{{ user._avatarHash }}.png?size=64)" alt="{{ user.username }}" class="w-14 h-14 rounded-full"></div>
            </a>
        </div>
        <div class="separator">
            <hr>
        </div>
    {% endif %}
    <div class="dash-guilds">
        {% for guild in guilds %}
            <div class="dash-guild selected rounded-full{% if page == guild.id %} active{% endif %}">
                <a class="dash-link flex items-center justify-center" href="/servers/{{ guild.id }}">
                    {% if guild.icon is not null %}
                        <div class="dash-icon w-14 h-14" style="background-image: url(https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}?size=64)" class="rounded-full"></div>
                    {% else %}
                        <p class="dash-icon w-14 h-14 dash-guild-name">{{ guild.name|slice(0, 3) }}</p>
                    {% endif %}
                    <span class="dash-toggle hidden">
                        <div class="popper">
                            {{ guild.name }}
                            <div class="popper-arrow" style="top: 10px;"></div>
                        </div>
                    </span>
                </a>
            </div>
        {% endfor %}
        <div class="dash-add shadow-lg">
            <a href="/dashboard/add" class="flex items-center justify-center">
                <p class="dash-plus w-14 h-14 rounded-full">+</p>
            </a>
        </div>
    </div>
</div>