<div class="dash-content">
	{% include 'includes/error.twig' %}
	<form action="/servers/{{ savedGuild.id }}/logs" class="child" method="post">
		<div class="dash-container">
			<div class="dash-header">
				<h1 class="dash-title">Logs</h1>
			</div>
			<div class="dash-module">
				<div class="dash-top">
					<div class="dash-infos">
						<h3>
							Salon de logs
						</h3>
						<p>
							Configure le salon où seront envoyés toutes les logs de votre serveur
						</p>
					</div>
				</div>
				<div class="dash-parts" style="height: auto; overflow: visible;">
					<div class="dash-parts-full">
						<div class="part">
							<h4 class="part-title">Salon de logs</h4>
							<div class="channel-selector selector">
								<div class="select-element{% if logs.logs_id is defined %} active{% endif %}">
									{% if logs.logs_id is defined %}
										<input type="text" autocomplete="off" name="logs_channel" class="select" placeholder="{{ logs.logs_id.name }}" readonly>
										<input type="hidden" name="logs_channel_id" value="{{ logs.logs_id.id }}">
									{% else %}
										<input type="text" autocomplete="off" name="logs_channel" class="select" placeholder="Veuillez choisir un salon" readonly>
										<input type="hidden" name="logs_channel_id" value="">
									{% endif %}
									<label class="down">
										<svg width="11" height="7" viewbox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rude="evenodd" clip-rule="evenodd" d="M0.172823 0.796772C-0.16424 0.356727 0.00615209 0 0.558413 0H10.2474C10.7974 0 10.963 0.349113 10.6149 0.7827L5.89383 6.66255C5.54675 7.09483 4.99034 7.08615 4.65509 6.64848L0.172823 0.796772Z" fill="currentColor"></path>
										</svg>
									</label>
								</div>
								<div class="select-elements scrollbar" role="listbox" style="display: none;">
									{% for channel in channels %}
										<div class="element">
											<div class="channel" id="{{ channel.id }}">
												<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="channel-icon">
													<path fill-rude="evenodd" clip-rude="evenodd" d="M4.90527 17.5C4.64602 17.5 4.44971 17.2657 4.49502 17.0105L4.9998 14.1667H2.16239C1.90354 14.1667 1.70734 13.9332 1.75195 13.6782L1.89779 12.8448C1.93268 12.6455 2.10581 12.5 2.30822 12.5H5.29147L6.1748 7.5H3.33739C3.07854 7.5 2.88234 7.26647 2.92695 7.01151L3.07279 6.17817C3.10768 5.9788 3.28081 5.83333 3.48322 5.83333H6.46647L6.9971 2.84385C7.03241 2.64493 7.20533 2.5 7.40735 2.5H8.22766C8.48687 2.5 8.68321 2.73422 8.63788 2.98948L8.13313 5.83333H13.1331L13.6638 2.84385C13.699 2.64493 13.872 2.5 14.074 2.5H14.8943C15.1535 2.5 15.3499 2.73422 15.3045 2.98948L14.7998 5.83333H17.6372C17.896 5.83333 18.0923 6.06686 18.0476 6.32183L17.9018 7.15516C17.867 7.35453 17.6938 7.5 17.4914 7.5H14.5081L13.6248 12.5H16.4622C16.721 12.5 16.9173 12.7335 16.8726 12.9885L16.7268 13.8218C16.692 14.0212 16.5188 14.1667 16.3164 14.1667H13.3331L12.8025 17.1562C12.7672 17.3551 12.5943 17.5 12.3922 17.5H11.572C11.3127 17.5 11.1164 17.2657 11.1617 17.0105L11.6665 14.1667H6.66647L6.13583 17.1562C6.10053 17.3551 5.9276 17.5 5.72558 17.5H4.90527ZM7.84183 7.5L6.9585 12.5H11.9585L12.8418 7.5H7.84183Z" fill="white"></path>
												</svg>
												<div class="channel-name">{{ channel.name }}</div>
											</div>
											{% if channel.category is not null %}
												<div class="guild-channel">{{ channel.category }}</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="part rigth"></div>
					</div>
				</div>
			</div>
			<div class="dash-module">
				<div class="dash-top">
					<div class="dash-infos">
						<h3>
							Modules
						</h3>
						<p>
							Choisis les modules de logs que tu souhaites activer sur ton serveur
						</p>
					</div>
					<label for="146711551868" class="switch-normal">
						<div class="slider round{% if logs.logs_id is defined %} active{% endif %}"></div>
						<input id="146711551868" type="checkbox" name="logs" {% if logs.logs_id is defined %} checked {% endif %}>
					</label>
				</div>
				<div class="parts" style="{% if logs.logs_id is defined %}height: auto; overflow: visible;{% else %}height: 0px; overflow: hidden;{% endif %}">
					<div class="dash-parts-full">
						<div class="log-all-btn">
							<div class="log-module-btn" id="btn-select">
								<p>Tout sélectionner</p>
							</div>
							<div class="log-module-btn" id="btn-unselect">
								<p>Tout désélectionner</p>
							</div>
						</div>
						<div class="logs-module">
							<div class="log-module">
								<label for="7671400560" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="7671400560" class="module-checkbox" autocomplete="off" name="logs_channel_update">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fas fa-hashtag"></i>
										</div>
										<div class="summary">
											<h3>Salons</h3>
											<p>Création, modification et suppression de salons sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="3556591914" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="3556591914" class="module-checkbox" autocomplete="off" name="logs_message">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-comments"></i>
										</div>
										<div class="summary">
											<h3>Messages</h3>
											<p>Modification ou suppression de messages sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="4744508448" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="4744508448" class="module-checkbox" autocomplete="off" name="logs_role">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-at"></i>
										</div>
										<div class="summary">
											<h3>Rôles</h3>
											<p>Création, modification et suppression de rôles sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="9487081855" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="9487081855" class="module-checkbox" autocomplete="off" name="logs_emote">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-face-smile"></i>
										</div>
										<div class="summary">
											<h3>Emotes</h3>
											<p>Création, modification et suppression des émotes sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="3001780171" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="3001780171" class="module-checkbox" autocomplete="off" name="logs_vocal">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-volume-high"></i>
										</div>
										<div class="summary">
											<h3>Vocal</h3>
											<p>Message lorsqu'un membre quitte ou rejoins un salon vocal</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="5211888628" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="5211888628" class="module-checkbox" autocomplete="off" name="logs_role">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-door-open"></i>
										</div>
										<div class="summary">
											<h3>Arrivées et départ</h3>
											<p>Message lorsqu'un membre quitte ou rejoins votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="7845345968" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="7845345968" class="module-checkbox" autocomplete="off" name="logs_ban">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-user-slash"></i>
										</div>
										<div class="summary">
											<h3>Bans</h3>
											<p>Message lorsqu'un membre est banni ou débanni de votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="8903523925" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="8903523925" class="module-checkbox" autocomplete="off" name="logs_ban">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-paper-plane"></i>
										</div>
										<div class="summary">
											<h3>Invitations</h3>
											<p>Création ou suppression des invitations sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="1384031075" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="1384031075" class="module-checkbox" autocomplete="off" name="logs_stickers">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-note-sticky"></i>
										</div>
										<div class="summary">
											<h3>Autocollants</h3>
											<p>Création, modification et suppression des autocollants sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="2696199284" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="2696199284" class="module-checkbox" autocomplete="off" name="logs_thread">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-chart-simple"></i>
										</div>
										<div class="summary">
											<h3>Threads</h3>
											<p>Création, modification et suppression de threads sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="6577052391" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="6577052391" class="module-checkbox" autocomplete="off" name="logs_event">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-calendar"></i>
										</div>
										<div class="summary">
											<h3>Evenements</h3>
											<p>Création, modification et suppression d'évènements sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="6409362652" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="6409362652" class="module-checkbox" autocomplete="off" name="logs_pseudo">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-pen"></i>
										</div>
										<div class="summary">
											<h3>Pseudo</h3>
											<p>Modification des pseudonymes de vos membres sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="6409362652" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="6409362652" class="module-checkbox" autocomplete="off" name="logs_member_update">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-solid fa-right-left"></i>
										</div>
										<div class="summary">
											<h3>Attribution de rôle</h3>
											<p>Attribution ou suppression d'un rôle de vos membres de votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
							<div class="log-module">
								<label for="5378660237" class="module-check">
									<div class="case">
										<i class="fa-solid fa-check" style="display: none;"></i>
									</div>
									<input type="checkbox" id="5378660237" class="module-checkbox" autocomplete="off" name="logs_boost">
								</label>
								<div class="log-overlay"></div>
								<div class="log-content">
									<div class="log-top">
										<div class="log-icon">
											<i class="fa-regular fa-star"></i>
										</div>
										<div class="summary">
											<h3>Boost</h3>
											<p>Boost reçus ou perdu sur votre serveur Discord</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="savebar-container">
			{% include 'includes/savebar.twig' %}
		</div>
	</form>
</div>
