<div class="dash-content">
    <div class="dash-container child">
        <div class="dash-header">
            <h1 class="dash-title">Profil</h1>
        </div>
        <div class="dash-module">
            <div class="dash-top">
                <div class="dash-infos">
                    <h3>
                        Votre anniversaire
                    </h3>
                    <p>
                        Configurez votre anniversaire, un message sera envoyé lors de votre anniversaire dans vos serveurs ayant activé cette fonctionnalité.
                    </p>
                </div>
                <label for="17871819" class="switch-normal">
                    <div class="slider round{% if date is not null %} active{% endif %}"></div>
                    <input id="17871819" type="checkbox" autocomplete="off">
                </label>
            </div>
            <div class="dash-parts" style="{% if date is null %}height: 0px; overflow: hidden;{% else %}height: auto; overflow: visible;{% endif %}">
                <div class="dash-parts-full">
                    <div class="birthday-input">
                        <div class="birthday-day">
                            <h4 class="part-title">Jour</h4>
                            {% if day is not null %}
                                <input type="text" name="day" maxlength="2" placeholder="{{ day }}">
                            {% else %}
                                <input type="text" name="day" maxlength="2" placeholder="JJ">
                            {% endif %}
                        </div>
                        <div class="birthday-month">
                            <h4 class="part-title">Mois</h4>
                            {% if month is not null %}
                                <input type="text" name="day" maxlength="2" placeholder="{{ month }}">
                            {% else %}
                                <input type="text" name="day" maxlength="2" placeholder="MM">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-module">
            <div class="dash-top">
                <div class="dash-infos">
                    <h3>
                        Votre profil public
                    </h3>
                    <p>
                        Configurez votre profil public, il sera disponible avec la commande <code>/profile</code>.
                    </p>
                </div>
                <label for="549230473618" class="switch-normal">
                    <div class="slider round{% if profile is not null %} active{% endif %}"></div>
                    <input id="549230473618" type="checkbox" autocomplete="off">
                </label>
            </div>
            <div class="dash-parts" style="{% if profile is null %}height: 0px; overflow: hidden;{% else %}height: auto; overflow: visible;{% endif %}">
                <div class="dash-parts-full">
                    <div class="part">
                        <h4 class="part-title">Pseudonyme</h4>
                        <div class="input-container">
                        {% if profile.pseudo is not null %}
                            <input class="dash-input" type="text" name="pseudo" maxlength="32" placeholder="{{ profile.pseudo }}">
                        {% else %}
                            <input class="dash-input" type="text" name="pseudo" maxlength="32" placeholder="Pseudonyme">
                        {% endif %}
                        </div>
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Couleur (en hexadecimal)</h4>
                        <div class="color-picker">
                            <div class="color-picker-view" style="border-color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#ffffff{% endif %};color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#ffffff{% endif %};">
                                <i class="fa-sharp fa-solid fa-brush"></i>
                            </div>
                            <div class="input-container color-input">
                                {% if profile.couleur_hexa is not null %}
                                    <input class="dash-input" type="text" name="couleur_hexa" maxlength="7" placeholder="{{ profile.couleur_hexa }}">
                                {% else %}
                                    <input class="dash-input" type="text" name="couleur_hexa" maxlength="7" placeholder="#ffffff">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <h4 class="part-title">Pied de page</h4>
                        <div class="input-container">
                            {% if profile.footer is not null %}
                                <textarea class="dash-input" id="746589231012" name="footer" maxlength="1200" placeholder="{{ profile.footer }}"></textarea>
                            {% else %}
                                <textarea class="dash-input" id="746589231012" name="footer" maxlength="1200" placeholder="Votre pied de page personalisé"></textarea>
                            {% endif %}
                            <label for="746589231012" class="counter">
                                <span class="count">0</span>/1200
                            </label>
                        </div>
                    </div>
                    <div class="part rigth">
                        <div class="input-container">
                            <h4 class="part-title">Description</h4>
                            {% if profile.description is not null %}
                                <textarea class="dash-input" id="746589231013" name="description" maxlength="2000" placeholder="{{ profile.description }}"></textarea>
                            {% else %}
                                <textarea class="dash-input" id="746589231013" name="description" maxlength="2000" placeholder="Votre description personalisé"></textarea>
                            {% endif %}
                            <label for="746589231013" class="counter">
                                <span class="count">0</span>/2000
                            </label>
                        </div>
                    </div>
                    <div class="part">
                        <h4 class="part-title">Photo de profil</h4>
                        {% if profile.image is not null %}
                            <input class="dash-input" type"text" name="image" placeholder="{{ profile.image }}">
                        {% else %}
                            <input class="dash-input" type"text" name="image" placeholder="Lien de votre image">
                        {% endif %}
                    </div>
                    <div class="part rigth">
                    </div>
                    <div class="part">
                        <h4 class="part-title">Adjectifs</h4>
                        {% if profile.adjectifs is not null %}
                            <input class="dash-input" type="text" name="adjectifs" maxlength="100" placeholder="{{ profile.adjectifs }}">
                        {% else %}
                            <input class="dash-input" type="text" name="adjectifs" maxlength="100" placeholder="3 adjectifs qui vous concernent">
                        {% endif %}
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Musique</h4>
                        {% if profile.musique is not null %}
                            <input class="dash-input" type="text" name="musique" maxlength="100" placeholder="{{ profile.musique }}">
                        {% else %}
                            <input class="dash-input" type="text" name="musique" maxlength="100" placeholder="Votre style musical préféré">
                        {% endif %}
                    </div>
                    <div class="part">
                        <h4 class="part-title">Repas</h4>
                        {% if profile.repas is not null %}
                            <input class="dash-input" type="text" name="repas" maxlength="100" placeholder="{{ profile.repas }}">
                        {% else %}
                            <input class="dash-input" type="text" name="repas" maxlength="100" placeholder="Votre repas préféré">
                        {% endif %}
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Film</h4>
                        {% if profile.film is not null %}
                            <input class="dash-input" type="text" name="film" maxlength="100" placeholder="{{ profile.film }}">
                        {% else %}
                            <input class="dash-input" type="text" name="film" maxlength="100" placeholder="Votre film préféré">
                        {% endif %}
                    </div>
                    <div class="part full">
                        <h4 class="part-title">Prévisualisation</h4>
                        <div class="dash-previ">
                            <div class="message">
                                <div class="contents">
                                    <img src="/img/fenrir-logo-white.png" alt="logo-fenrir" class="bot-avatar">
                                    <h2 class="header-message">
                                        <span class="username">Fenrir</span>
                                        <span class="bot-tag">
                                            <svg width="16" height="16" viewBox="0 0 16 15.2" class="bot-tag-verified">
                                                <path d="M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z" fill="currentColor"></path>
                                            </svg>
                                            <span class="bot-text">BOT</span>
                                        </span>
                                        <span class="bot-timestamp">Aujourd'hui à 12:00</span>
                                    </h2>
                                </div>
                                <div class="embed">
                                    <div class="left-bar" style="background-color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#6db1bf{% endif %}"></div>
                                    <div class="embed-content">
                                        <div class="embed-container">
                                            <div class="embed-avatar">
                                                <div class="embed-avatar-img" style="background-image: url(https://cdn.discordapp.com/avatars/{{ user._id }}/{{ user._avatarHash }}?size=32)"></div>
                                                <div class="embed-avatar-name">{{ user.username }}</div>
                                                <span class="embed-avatar-like">・ {{ profile_likes }} ❤️</span>
                                            </div>
                                            <div class="embed-all">
                                                {% if profile.description is not null %}
                                                    <p class="embed-description">{{ profile.description }}</p>
                                                {% else %}
                                                    <p class="embed-description">Votre description personalisé</p>
                                                {% endif %}
                                                {% if profile.pseudo is not null %}
                                                    <p class="embed-pseudo"><span class="code">Pseudo</span> <i class="fr-arrow"></i> {{ profile.pseudo }}</p>
                                                {% else %}
                                                    <p class="embed-pseudo"></p>
                                                {% endif %}
                                                {% if profile.film is not null %}
                                                    <p class="embed-film"><span class="code">Film favori</span> <i class="fr-arrow"></i> {{ profile.film }}</p>
                                                {% else %}
                                                    <p class="embed-film"></p>
                                                {% endif %}
                                                {% if profile.musique is not null %}
                                                    <p class="embed-musique"><span class="code">Style musical</span> <i class="fr-arrow"></i> {{ profile.musique }}</p>
                                                {% else %}
                                                    <p class="embed-musique"></p>
                                                {% endif %}
                                                {% if profile.repas is not null %}
                                                    <p class="embed-repas"><span class="code">Plat favori</span> <i class="fr-arrow"></i> {{ profile.repas }}</p>
                                                {% else %}
                                                    <p class="embed-repas"></p>
                                                {% endif %}
                                                {% if profile.adjectifs is not null %}
                                                    <p class="embed-adjectifs"><span class="code">Personalité</span> <i class="fr-arrow"></i> {{ profile.adjectifs }}</p>
                                                {% else %}
                                                    <p class="embed-adjectifs"></p>
                                                {% endif %}
                                                {% if profile.footer is not null %}
                                                    <p class="embed-footer">{{ profile.footer }}</p>
                                                {% else %}
                                                    <p class="embed-footer">Votre pied de page personalisé</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="embed-img-container">
                                        {% if profile.picture is not null %}
                                            <div class="embed-profile-picture" style="background-image: url({{ profile.image }});width: 64px;"></div>
                                        {% else %}
                                            <div class="embed-profile-picture"></div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="savebar-container">
        <div class="spacer">
            <div id="my-data" style="display:none;">{{ profile|json_encode }}</div>
        </div>
        {% include 'includes/savebar.twig' %}
    </div>
</div>