<div class="dash-content">
	{% include 'includes/error.twig' %}
	<form action="/dashboard/profil" class="child" method="post">
    <div class="dash-container">
        <div class="dash-header">
            <h1 class="dash-title">Profil</h1>
        </div>
        <div class="dash-module">
            <div class="dash-top">
                <div class="dash-infos">
                    <h3>
                        Votre anniversaire
                    </h3>
                    <p>
                        Configurez votre anniversaire, un message sera envoyé lors de votre anniversaire dans vos serveurs ayant activé cette fonctionnalité.
                    </p>
                </div>
                <label for="148211919620" class="switch-normal">
                    <div class="slider round{% if date is not null %} active{% endif %}"></div>
					<input id="148211919620" type="checkbox" name="birthday" {% if date is not null %}checked{% endif %}>
                </label>
            </div>
            <div class="dash-parts" style="{% if date is null %}height: 0px; overflow: hidden;{% else %}height: auto; overflow: visible;{% endif %}">
                <div class="dash-parts-full">
                    <div class="birthday-input">
                        <div class="birthday-day">
                            <h4 class="part-title">Jour</h4>
                            {% if day is not null %}
                                <input id="584720150435" type="text" name="day" maxlength="2" autocomplete="off" placeholder="{{ day }}">
                            {% else %}
                                <input id="584720150435" type="text" name="day" maxlength="2" autocomplete="off" placeholder="JJ">
                            {% endif %}
                        </div>
                        <div class="birthday-month">
                            <h4 class="part-title">Mois</h4>
                            {% if month is not null %}
                                <input id="216374929769" type="text" name="month" maxlength="2" autocomplete="off" placeholder="{{ month }}">
                            {% else %}
                                <input id="216374929769" type="text" name="month" maxlength="2" autocomplete="off" placeholder="MM">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-module">
            <div class="dash-top">
                <div class="dash-infos">
                    <h3>
                        Votre profil public
                    </h3>
                    <p>
                        Configurez votre profil public, il sera disponible avec la commande <code>/profile</code>.
                    </p>
                </div>
                <label for="666234912102" class="switch-normal">
                    <div class="slider round{% if profile.profile %} active{% endif %}"></div>
                    <input name="profile" id="666234912102" type="checkbox" autocomplete="off" {% if profile.profile %}checked{% endif %}>
                </label>
            </div>
            <div class="dash-parts" style="{% if profile.profile %}height: auto; overflow: visible;{% else %}height: 0px; overflow: hidden;{% endif %}">
                <div class="dash-parts-full">
                    <div class="part">
                        <h4 class="part-title">Pseudonyme</h4>
                        <div class="input-container">
                        {% if profile.pseudo is not null %}
                            <input id="520141303837" class="dash-input" type="text" name="pseudo" maxlength="32" autocomplete="off" placeholder="{{ profile.pseudo }}">
                        {% else %}
                            <input id="520141303837" class="dash-input" type="text" name="pseudo" maxlength="32" autocomplete="off" placeholder="Pseudonyme">
                        {% endif %}
						<label for="520141303837" class="counter">
							<span class="count">0</span>/32
						</label>
                        </div>
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Couleur (en hexadecimal)</h4>
                        <div class="color-picker-container">
                            <div class="color-picker-view" style="border-color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#ffffff{% endif %};color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#ffffff{% endif %};">
                                <i class="fa-sharp fa-solid fa-brush"></i>
                            </div>
                            <div class="input-container color-input" style="position: relative;">
                                {% if profile.couleur_hexa is not null %}
                                    <input id="882231459708" class="dash-input" type="text" name="couleur_hexa" maxlength="7" autocomplete="off" placeholder="{{ profile.couleur_hexa }}">
                                {% else %}
                                    <input id="882231459708" class="dash-input" type="text" name="couleur_hexa" maxlength="7" autocomplete="off" placeholder="#ffffff">
                                {% endif %}
								<label for="882231459708" class="counter">
									<span class="count">0</span>/7
								</label>
                            </div>
                        </div>
                    </div>
                    <div class="part">
                        <h4 class="part-title">Pied de page</h4>
                        <div class="input-container">
                            {% if profile.footer is not null %}
                                <textarea id="637210305697" class="dash-input" name="footer" maxlength="1200" autocomplete="off" placeholder="{{ profile.footer }}"></textarea>
                            {% else %}
                                <textarea id="637210305697" class="dash-input" name="footer" maxlength="1200" autocomplete="off" placeholder="Votre pied de page personalisé"></textarea>
                            {% endif %}
                            <label for="637210305697" class="counter">
                                <span class="count">0</span>/1200
                            </label>
                        </div>
                    </div>
                    <div class="part rigth">
                        <div class="input-container">
                            <h4 class="part-title">Description</h4>
                            {% if profile.description is not null %}
                                <textarea class="dash-input" id="284186951846" name="description" maxlength="2000" autocomplete="off" placeholder="{{ profile.description }}"></textarea>
                            {% else %}
                                <textarea class="dash-input" id="284186951846" name="description" maxlength="2000" autocomplete="off" placeholder="Votre description personalisée"></textarea>
                            {% endif %}
                            <label for="284186951846" class="counter">
                                <span class="count">0</span>/2000
                            </label>
                        </div>
                    </div>
                    <div class="part">
                        <h4 class="part-title">Photo de profil</h4>
							<div class="input-container">
							{% if profile.image is not null %}
								<input id="392720167665" class="dash-input " type"text" maxlength="200" name="image" autocomplete="off" placeholder="{{ profile.image }}">
							{% else %}
								<input id="392720167665" class="dash-input" type"text" maxlength="200" name="image" autocomplete="off" placeholder="Lien de votre image">
							{% endif %}
						</div>
                    </div>
                    <div class="part rigth">
                    </div>
                    <div class="part">
                        <h4 class="part-title">Adjectifs</h4>
							<div class="input-container">
							{% if profile.adjectifs is not null %}
								<input id="921070860283" class="dash-input" type="text" maxlength="250" name="adjectifs" maxlength="100" autocomplete="off" placeholder="{{ profile.adjectifs }}">
							{% else %}
								<input id="921070860283" class="dash-input" type="text" maxlength="250" name="adjectifs" maxlength="100" autocomplete="off" placeholder="3 adjectifs qui vous concernent">
							{% endif %}
							<label for="921070860283" class="counter">
								<span class="count">0</span>/250
							</label>
						</div>
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Musique</h4>
							<div class="input-container">
							{% if profile.musique is not null %}
								<input id="352879152078" class="dash-input" type="text" name="musique" maxlength="100" autocomplete="off" placeholder="{{ profile.musique }}">
							{% else %}
								<input id="352879152078" class="dash-input" type="text" name="musique" maxlength="100" autocomplete="off" placeholder="Votre style musical préféré">
							{% endif %}
							<label for="352879152078" class="counter">
								<span class="count">0</span>/100
							</label>
						</div>
                    </div>
                    <div class="part">
                        <h4 class="part-title">Repas</h4>
							<div class="input-container">
							{% if profile.repas is not null %}
								<input id="407308911748" class="dash-input" type="text" name="repas" maxlength="100" autocomplete="off" placeholder="{{ profile.repas }}">
							{% else %}
								<input id="407308911748" class="dash-input" type="text" name="repas" maxlength="100" autocomplete="off" placeholder="Votre repas préféré">
							{% endif %}
							<label for="407308911748" class="counter">
								<span class="count">0</span>/100
							</label>
						</div>
                    </div>
                    <div class="part rigth">
                        <h4 class="part-title">Film</h4>
							<div class="input-container">
							{% if profile.film is not null %}
								<input id="707819299871" class="dash-input" type="text" name="film" maxlength="100" autocomplete="off" placeholder="{{ profile.film }}">
							{% else %}
								<input id="707819299871" class="dash-input" type="text" name="film" maxlength="100" autocomplete="off" placeholder="Votre film préféré">
							{% endif %}
							<label for="707819299871" class="counter">
								<span class="count">0</span>/100
							</label>
						</div>
                    </div>
                    <div class="part full">
                        <h4 class="part-title">Prévisualisation</h4>
                        <div class="dash-previ">
                            <div class="message">
                                <div class="contents">
                                    <img src="/img/fenrir-logo-white.png" alt="logo-fenrir" class="bot-avatar">
                                    <h2 class="header-message">
                                        <span class="username">Fenrir</span>
                                        <span class="bot-tag">
                                            <svg width="16" height="16" viewBox="0 0 16 15.2" class="bot-tag-verified">
                                                <path d="M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z" fill="currentColor"></path>
                                            </svg>
                                            <span class="bot-text">BOT</span>
                                        </span>
                                        <span class="bot-timestamp">Aujourd'hui à 12:00</span>
                                    </h2>
                                </div>
                                <div class="embed">
                                    <div class="left-bar" embedid="882231459708" style="background-color: {% if profile.couleur_hexa is not null %}#{{ profile.couleur_hexa }}{% else %}#6db1bf{% endif %}"></div>
                                    <div class="embed-content">
                                        <div class="embed-container">
                                            <div class="embed-avatar">
                                                <div class="embed-avatar-img" style="background-image: url(https://cdn.discordapp.com/avatars/{{ user._id }}/{{ user._avatarHash }}?size=32)"></div>
                                                <div class="embed-avatar-name">{{ user.username }}</div>
                                                <span class="embed-avatar-like">・ {{ profile_likes }} ❤️</span>
                                            </div>
                                            <div class="embed-all">
                                                {% if profile.description is not null %}
                                                    <p class="embed-description" embedid="284186951846">{{ profile.description }}</p>
                                                {% else %}
                                                    <p class="embed-description" embedid="284186951846">Votre description personalisé</p>
                                                {% endif %}
                                                {% if profile.pseudo is not null %}
                                                    <p class="embed-pseudo" embedid="520141303837"><span class="code">Pseudo</span> <i class="fr-arrow"></i> {{ profile.pseudo }}</p>
                                                {% else %}
                                                    <p class="embed-pseudo" embedid="520141303837"></p>
                                                {% endif %}
                                                {% if profile.film is not null %}
                                                    <p class="embed-film" embedid="707819299871"><span class="code">Film favori</span> <i class="fr-arrow"></i> {{ profile.film }}</p>
                                                {% else %}
                                                    <p class="embed-film" embedid="707819299871"></p>
                                                {% endif %}
                                                {% if profile.musique is not null %}
                                                    <p class="embed-musique" embedid="352879152078"><span class="code">Style musical</span> <i class="fr-arrow"></i> {{ profile.musique }}</p>
                                                {% else %}
                                                    <p class="embed-musique" embedid="352879152078"></p>
                                                {% endif %}
                                                {% if profile.repas is not null %}
                                                    <p class="embed-repas" embedid="407308911748"><span class="code">Plat favori</span> <i class="fr-arrow"></i> {{ profile.repas }}</p>
                                                {% else %}
                                                    <p class="embed-repas" embedid="407308911748"></p>
                                                {% endif %}
                                                {% if profile.adjectifs is not null %}
                                                    <p class="embed-adjectifs" embedid="921070860283"><span class="code">Personalité</span> <i class="fr-arrow"></i> {{ profile.adjectifs }}</p>
                                                {% else %}
                                                    <p class="embed-adjectifs" embedid="921070860283"></p>
                                                {% endif %}
                                                {% if profile.footer is not null %}
                                                    <p class="embed-footer" embedid="637210305697">{{ profile.footer }}</p>
                                                {% else %}
                                                    <p class="embed-footer" embedid="637210305697">Votre pied de page personalisé</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="embed-img-container">
                                        {% if profile.picture is not null %}
                                            <div class="embed-image" embedid="392720167665" style="background-image: url({{ profile.image }});width: 64px;"></div>
                                        {% else %}
                                            <div class="embed-image" embedid="392720167665"></div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="savebar-container">
        <div class="spacer">
            <div id="my-data" style="display:none;">{{ profile|json_encode }}</div>
            <div id="input-id" style="display:none;">{{ inputs|json_encode }}</div>
        </div>
        {% include 'includes/savebar.twig' %}
    </div>
	</form>
</div>