<div class="dash-content">
	{% include 'includes/error.twig' %}
	<form action="/servers/{{ savedGuild.id }}/room" class="child" method="post">
		<div class="dash-container">
			<div class="dash-header">
				<h1 class="dash-title">Salons vocaux privés</h1>
			</div>
			<div class="dash-module">
				<div class="dash-top" style="padding-bottom: 20px">
					<div class="dash-infos">
						<h3>
							Informations
						</h3>
					</div>
				</div>
				<div class="dash-parts" style="height: auto; overflow: visible;">
					<div class="dash-parts-full">
						<div class="infos-container">
							<img src="/img/info-room.png" alt="info-room" class="infos-img left">
							<div>
								<p>
									Le système de vocaux privés permet à vos membres de créer des salons vocaux privés.
								</p>
								<p>
									Ceux-ci sont automatiquement supprimés lorsque le dernier membre quitte le salon.
								</p>
								<p>
									Ils peuvent choisir le nom, le nombre de membres maximum et le type de salon (public ou privé).
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dash-module">
				<div class="dash-top">
					<div class="dash-infos">
						<h3>
							Système de vocaux privés
						</h3>
						<p>
							Configure le système de vocaux de ton serveur. Les membres pourront automatiquement avoir leur propre salon vocal privé.
						</p>
					</div>
				</div>
				<div class="dash-parts" style="height: auto; overflow: visible;">
					<div class="dash-parts-full">
						<div class="log-all-btn">
							<div class="log-module-btn {% if room.privateroom_channel_id is not null and room.privateroom_category_id is not null %} disabled{% endif %}" id="create-room">
								<p class="message">Laisser Fenrir créer votre système vocal</p>
								<div class="loader_discord" style="font-size: 16px;display: none;">
									<div class="point"></div>
									<div class="point"></div>
									<div class="point"></div>
								</div>
							</div>
							<div class="log-module-btn {% if room.privateroom_channel_id is null and room.privateroom_category_id is null %} disabled{% endif %}" id="delete-room">
								<p class="message">Supprimer le système vocal</p>
								<div class="loader_discord" style="font-size: 16px;display: none;">
									<div class="point"></div>
									<div class="point"></div>
									<div class="point"></div>
								</div>
							</div>
						</div>
						<div class="part">
							<h4 class="part-title">Categorie</h4>
							<div class="category-selector selector">
								<div class="select-element{% if room.privateroom_category_id is not null %} active{% endif %}">
									{% if room.privateroom_category_id is not null %}
										<input type="text" autocomplete="off" name="room_category" class="select" placeholder="{{ room.privateroom_category_id.name }}" readonly>
										<input type="hidden" name="room_category_id" value="{{ room.privateroom_category_id.id }}">
									{% else %}
										<input type="text" autocomplete="off" name="room_category" class="select" placeholder="Laissez Fenrir créer la catégorie" id="" readonly>
										<input type="hidden" name="room_category_id" value="">
									{% endif %}
									<label class="down">
										<svg width="11" height="7" viewbox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rude="evenodd" clip-rule="evenodd" d="M0.172823 0.796772C-0.16424 0.356727 0.00615209 0 0.558413 0H10.2474C10.7974 0 10.963 0.349113 10.6149 0.7827L5.89383 6.66255C5.54675 7.09483 4.99034 7.08615 4.65509 6.64848L0.172823 0.796772Z" fill="currentColor"></path>
										</svg>
									</label>
								</div>
								<div class="select-elements scrollbar" role="listbox" style="display: none;">
									{% for channel in categories %}
										<div class="element">
											<div class="channel" id="{{ channel.id }}">
												<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="channel-icon">
													<path fill-rude="evenodd" clip-rude="evenodd" d="M7.5 2.5V6.25H2.5V2.5H7.5ZM17.5 7.5V11.25H12.5V7.5H17.5ZM12.5 13.75H17.5V17.5H12.5V14.1667V13.75ZM11.25 11.25H6.25V15H11.25V17.5H6.25H3.75V7.5H6.25V8.75H11.25V11.25Z" fill="white"></path>
												</svg>
												<div class="channel-name">{{ channel.name }}</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="part rigth">
							<h4 class="part-title">Salon</h4>
							<div class="voice-selector selector">
								<div class="select-element{% if room.privateroom_channel_id is not null %} active{% endif %}">
									{% if room.privateroom_channel_id is not null %}
										<input type="text" autocomplete="off" name="room_channel" class="select" placeholder="{{ room.privateroom_channel_id.name }}" readonly>
										<input type="hidden" name="room_channel_id" value="{{ room.privateroom_channel_id.id }}">
									{% else %}
										<input type="text" autocomplete="off" name="room_channel" class="select" placeholder="Laissez Fenrir créer le salon" id="" readonly>
										<input type="hidden" name="room_channel_id" value="">
									{% endif %}
									<label class="down">
										<svg width="11" height="7" viewbox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rude="evenodd" clip-rule="evenodd" d="M0.172823 0.796772C-0.16424 0.356727 0.00615209 0 0.558413 0H10.2474C10.7974 0 10.963 0.349113 10.6149 0.7827L5.89383 6.66255C5.54675 7.09483 4.99034 7.08615 4.65509 6.64848L0.172823 0.796772Z" fill="currentColor"></path>
										</svg>
									</label>
								</div>
								<div class="select-elements scrollbar" role="listbox" style="display: none;">
									{% for channel in voices %}
										<div class="element">
											<div class="channel" id="{{ channel.id }}">
												<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="channel-icon">
													<path fill-rude="evenodd" clip-rude="evenodd" d="M9.48567 2.56605C9.174 2.43772 8.81567 2.50855 8.57734 2.74688L4.99984 6.66855H2.49984C2.0415 6.66855 1.6665 7.04438 1.6665 7.50188V12.5019C1.6665 12.9602 2.0415 13.3352 2.49984 13.3352H4.99984L8.57734 17.2585C8.81567 17.4968 9.174 17.5685 9.48567 17.4394C9.79734 17.3102 9.99984 17.006 9.99984 16.6685V3.33522C9.99984 2.99938 9.79734 2.69355 9.48567 2.56605ZM11.6665 4.16848V5.83514C13.964 5.83514 15.8332 7.70514 15.8332 10.0019C15.8332 12.2994 13.964 14.1685 11.6665 14.1685V15.8352C14.8832 15.8352 17.4998 13.2194 17.4998 10.0019C17.4998 6.78598 14.8832 4.16848 11.6665 4.16848ZM11.6665 7.50181C13.0448 7.50181 14.1665 8.62435 14.1665 10.0019C14.1665 11.381 13.0448 12.5019 11.6665 12.5019V10.8352C12.1257 10.8352 12.4998 10.461 12.4998 10.0019C12.4998 9.54268 12.1257 9.16852 11.6665 9.16852V7.50181Z" fill="white"></path>
												</svg>
												<div class="channel-name">{{ channel.name }}</div>
											</div>
											{% if channel.category is not null %}
												<div class="guild-channel">{{ channel.category }}</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hint">
				<i class="fa-regular fa-lightbulb"></i>
				<p>
					Si vous parametrez manuellement les salons, assurez vous que le salon soit bien dans la catégorie choisie.
				</p>
			</div>
		</div>
		<div class="savebar-container">
			<div class="spacer"></div>
			{% include 'includes/savebar.twig' %}
		</div>
	</form>
</div>
